<a href="https://colab.research.google.com/github/tanucsengg/Python-For-Data-Analysis/blob/main/Chapter_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This Notebook contains the Excercise for the Chapter2 of the BookPython for Data Analysis by  is the solving for te chapter 2 Excercises by Wes MacKinney **

1. Matplotlib Library for Visualization

In [ ]:
import matplotlib
%matplotlib inline # for showing the results in the notebook only this command is used

In [ ]:
# loops and indentation
for x in array:  # start of the block of code 
  if x < pivot:  # second line is indented using space 
    less.append(x)      # indentation proceeds further 
  else:
    greater.append(x)

In [ ]:
# multiple commands within the same line segreggated as follows
a=5; b=6; c=7

In [ ]:
file_handle = ['foo','cat','mat']
results = []
for line in file_handle:
  results.append(line.replace('foo','bar'))   # here foo is replaced with bar and result is saved inside results list
print(results)

['bar', 'cat', 'mat']

 2.  Variable and Argument Passing

In [1]:
a = [1,2,3]
b= a
# Now both a and b refer to the same location here the a is not copied to b instead now b also points to same location as a does.

In [2]:
a.append(4)

In [3]:
a

[1, 2, 3, 4]

In [4]:
# Since we haven't added anything to b but 4 is appended to a automatically it got appended to b as they both are refering to the same location.
b

[1, 2, 3, 4]

In [5]:
# Adding the element using the function
def append_element(some_list,element):
  some_list.append(element)

In [7]:
data = [2,3,4,5]

In [8]:
append_element(data, 6)

In [9]:
data

[2, 3, 4, 5, 6]

3. Dynamic Refernces and Strong Type

In [10]:
a = 5
type(a)

int

In [11]:
a = 'hello'
type(a)

str

In [13]:
a = 4.5
b = 2
print('a is {0} and b is {1}'. format(type(a),type(b)))

a is <class 'float'> and b is <class 'int'>

In [14]:
a/b

2.25

To know the instance of an variable is important and when writing the function it is important to write the standardised function which can handle all type of errors.

In [15]:
a = 5 
isinstance(a,int)

True

In [17]:
isinstance(a,float)

False

4. Methods for the various objects

In [18]:
a= 'foo'

In [ ]:
a.<press tab here>   # able to see all the methods that can be applied to the variable

In [19]:
getattr(a,'split')

In [21]:
def isiterable(obj):
  try:
    iter(obj)
    return(True)
  except TypeError:
    return(False)

In [22]:
isiterable('a string')

True

In [23]:
isiterable([1,2,3])

True

In [26]:
isiterable(5)  # it is not iterable as there is only one value

False

In [27]:
isiterable('a')

True

This Functionality can be used where we can have multiple type of inputs like list,tuple and ndarray. Check if the object is the list if not then convertit to the list.

In [29]:
x = 2

In [30]:
if not isinstance(x,list) and isiterable(x):
  x = list(x)

In [32]:
type(x)

int

5. Imports

In [34]:
pi = 3.14
def f(x):
  return x+2
def g(a,b):
  return a+b
# save this file as module.py and further use it as a package and import it whereever required

In [ ]:
import some_module
result = some_module.f(5)
PI = some_module.pi

In [ ]:
import some_module as sm
from some_module import pi as PI ,g as gf
r1 = sm.f(PI)
r2 = gf(6, PI)

6. Mutable and ImMutable

In [40]:
# List is Mutable means you can add and change something 
a_list = ['foo', 2,[4,5]]
a_list[2] = (3,4)
print(a_list)

['foo', 2, (3, 4)]

In [41]:
# Tuple are immutable as ylou cann't change the value in this 
a_list = ('foo', 2,[4,5])
a_list[2] = (3,4)
print(a_list)

TypeError: ignored

7. Date Type

In [45]:
from datetime import datetime,date,time
dt = datetime(2011,10,29,20,30,21)
dt.day

29

In [44]:
dt.minute

30

In [47]:
dt.date()

datetime.date(2011, 10, 29)

In [48]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [50]:
datetime.strptime('20211031', '%Y%m%d')

datetime.datetime(2021, 10, 31, 0, 0)

In [51]:
dt.replace(minute = 0, second = 0)

datetime.datetime(2011, 10, 29, 20, 0)

8. IF ELIF and ELSE

In [58]:
x  = 7 
if x < 0:
 print('Its negative')
elif x == 0:
 print('Equal to zero')
elif 0 < x < 5:
 print('Positive but smaller than 5')
else:
 print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

9. For Loop

In [60]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
 if value == 5:
  break
 total_until_5 += value

In [61]:
for i in range(4):
 for j in range(4):
  if j > i:
    break
 print((i, j))

(0, 1)
(1, 2)
(2, 3)
(3, 3)

10. While Loop

In [63]:
x = 256
total = 0
while x > 0:
 if total > 500:
  break
 total += x
 x = x // 2

In [64]:
if x < 0:
 print('negative!')
elif x == 0:
 # TODO: put something smart here
 pass
else:
 print('positive!')

positive!

In [67]:
sum = 0
for i in range(100000):
 # % is the modulo operator
 if i % 3 == 0 or i % 5 == 0:
  sum += i
print(sum)

2333316668

11. Ternary Operators

In [68]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

This Chapter gives the basic understanding of all the basic operations used during data analysis

```
# This is formatted as code
```