<a href="https://colab.research.google.com/github/tanucsengg/Python-For-Data-Analysis/blob/main/Chapter3_Buildin_DataStructure_and_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Structure and Sequences
Tuple

In [ ]:
# Tuple is Fixed Length Immutable Python Object 
tup = (1,2,3)
tup

(1, 2, 3)

In [ ]:
nested_tup = (1,2,3),(3,4,5)
nested_tup

((1, 2, 3), (3, 4, 5))

In [ ]:
#convert and data structure to the tuple
tup_new = tuple([1,2,3])
tup_new

(1, 2, 3)

In [ ]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
# can access the particular position using position index
tup[1]  # second position index is 1 and element is t

't'

In [ ]:
# once the tuple is created its not possible to modify which object is cfraeted at which slot
tup = tuple('foo',[1,2,3],False) # Since this tuple can expect one argument and here I am giving three values here

TypeError: ignored

In [ ]:
tup = tuple(['foo',[1,2,3],False]) # here one list is passes with three values

In [ ]:
tup[2] = False # cann't modify the objects of the tuple once it is created

TypeError: ignored

In [ ]:
tup[1].append(3) # the value 3 is added to the second element which is [1,2,3]

In [ ]:
tup

('foo', [1, 2, 3, 3], False)

In [ ]:
# Concatenate the multiple tuple
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
# Multiplying the list together 
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [ ]:
tup = (4,5,6)
a,b,c = tup
b

5

In [ ]:
tupp = 4,5,(6,7)
a,b,(c,d) = tupp
d

7

In [ ]:
a,b = 1,2 # a is assigned the vale as 1 and b is assigned the value as 2

In [ ]:
a

1

In [ ]:
b, a = a , b #  a =a,b here a=1 and b= 2 now the last value as 2 will be updated to a so now a is 2

In [ ]:
a

2

In [ ]:
# Variable iterating over the sequence of tuples
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
for a,b,c in seq :
  print('a = {0} , b = {1} , c = {2}'. format(a,b,c))

a = 1 , b = 2 , c = 3
a = 4 , b = 5 , c = 6
a = 7 , b = 8 , c = 9

In [ ]:
values = 1,2,3,4,5
a,b,*rest = values

In [ ]:
a, b

(1, 2)

In [ ]:
rest

[3, 4, 5]

In [ ]:
a,b,*_ = values

In [ ]:
a,b

(1, 2)

In [ ]:
_

(1, 2)

In [ ]:
a = (1, 5, 5, 5, 3, 4, 2)

In [ ]:
# Tuple methods  
a.count(5)  # this method will count the occurance of 5 in the tuple

3

In [ ]:
a_list = [2, 3, 7, None]

In [ ]:
tup = ('foo', 'bar', 'baz')

In [ ]:
b_list = list(tup)
type(b_list)

list

In [ ]:
b_list

['foo', 'bar', 'baz']

In [ ]:
b_list[1] = 'pink'

In [ ]:
b_list

['foo', 'pink', 'baz']

In [ ]:
gen = range(10)

In [ ]:
gen

range(0, 10)

In [ ]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Addding and Removing elements

In [ ]:
b_list.append('dwarf')

In [ ]:
b_list

['foo', 'pink', 'baz', 'dwarf']

In [ ]:
b_list. insert(1,'red') # add the red to the position 1 in the list

In [ ]:
b_list.pop(2)

'pink'

In [ ]:
b_list.append('king') # add the value king to the list b_list

In [ ]:
b_list

['red', 'baz', 'dwarf', 'foo', 'king']

In [ ]:
b_list.remove('king')  # remove the value king from the b_list

In [ ]:
b_list

['foo', 'red', 'pink', 'baz', 'dwarf']

In [ ]:
'red' in b_list # 'red' Element exists in the list returns True element present and False Element not present

True

In [ ]:
'black' not in b_list # If black is not present in the b_list which is true thus result is true

True

Concatenating and Combining List

In [ ]:
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
x = [4,None,'foo']  # extend the lkist to the existing list 
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
%%timeit
everything = []
list_of_lists = ['a','b','c']
for chunk in list_of_lists:
  everything.extend(chunk)
everything

The slowest run took 6.98 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 542 ns per loop

Sorting

In [ ]:
a = [7,4,5,3,2,1] # Sort the list ion the ascending order 
a.sort()
a

[1, 2, 3, 4, 5, 7]

In [ ]:
b = ['saw','small','he','foxes','six']   # sorts the list with the length of the element like he is smallest with 2, saw is with 3 and so on 
b.sort(key = len)
b

['he', 'saw', 'six', 'small', 'foxes']

Binary Search and Maintaining a Sorted List

In [ ]:
import bisect  # bisect.bisect finds the location where an element should be inserted to keep it sorted
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [ ]:
bisect.bisect(c,5)

6

In [ ]:
bisect.bisect(c,6)

6

In [ ]:
bisect.insort(c, 6) # here the element 6 is added to the location 6 and thus the list is sorted

In [ ]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

SLICING

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [ ]:
seq[1:5]  # slicing the element from position 1 to 4 , position 5 will not be included

[2, 3, 7, 5]

In [ ]:
seq[3:7] # Slicing the element from the position 3 to 6, position 7 will not be included

[7, 5, 6, 0]

In [ ]:
seq[3:4] = [6, 3]  # Add the 6,3 element to the position 3 to 4

In [ ]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [ ]:
seq[:5] # start position is 0 and the end position is 4

[7, 2, 3, 6, 3]

In [ ]:
seq[3:]   # start position is 3 and last is the ending position

[6, 3, 5, 6, 0, 1]

In [ ]:
seq[-4:]   # start position is 4 position from the end as -4 is there and last position is the last position of the list

[5, 6, 0, 1]

In [ ]:
seq[::2]

[7, 3, 3, 6, 1]

In [ ]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [ ]:
some_list = ['foo', 'bar', 'baz']

In [ ]:
mapping = {}
for i, v in enumerate(some_list):
  mapping[v] = i
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

Sorted

In [ ]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [ ]:
sorted('house plot')

[' ', 'e', 'h', 'l', 'o', 'o', 'p', 's', 't', 'u']

Zip

In [ ]:
seq1 = ['foo', 'bar','baz']
seq2 = ['one','two','three']

In [ ]:
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3 = [False,True]
list(zip(seq1,seq2,seq3))# Since the third list is of length 2 thus after 2 length it stopped

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):  # enumerate on the zipped 
  print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [ ]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [ ]:
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

Reversed the list

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Dictionary

In [2]:
empty_dict = {}    # dictionary holds the key value pair
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
d1[7] = 'an integer'    # Adding the an integer value to key 7

In [4]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [5]:
d1['b']

[1, 2, 3, 4]

In [7]:
'b' in d1

True

In [8]:
d1[4] = 'something to eat'

In [9]:
d1

{4: 'something to eat', 7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [10]:
del d1[4]  # delete the key with value 4

In [11]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [12]:
d1[2] = 'yummy'

In [13]:
rrt = d1.pop(2)   # take the element 2 value and place in rrt

In [14]:
rrt

'yummy'

In [30]:
key_list = d1.keys()

In [31]:
value_list = d1.values()

In [26]:
# Update the value to the dictionary 
d1.update({'b' : 'foo', 'c' : 12})

In [27]:
d1

{7: 'an integer', 'a': 'some value', 'b': 'foo', 'c': 12}

Creating dicts from sequences

In [32]:
# function creation fro the key values  
mapping = {}
for key, value in zip(key_list, value_list):
 mapping[key] = value

In [33]:
mapping = dict(zip(range(5), reversed(range(5))))

In [34]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [35]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [36]:
by_letter = {}

In [39]:
for word in words:
 letter = word[0]
 if letter not in by_letter:
  by_letter[letter] = word
 else:
  by_letter[letter].append(word)

In [40]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [41]:
for word in words:
 letter = word[0]
 by_letter.setdefault(letter, []).append(word)

In [44]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
 by_letter[word[0]].append(word)

AttributeError: ignored

SET

In [45]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [46]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
a.intersection(b)

{3, 4, 5}

In [49]:
a&b

{3, 4, 5}

In [50]:
c = a.copy()

In [51]:
c

{1, 2, 3, 4, 5}

List Set Dict Comprehensions

In [52]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [53]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [55]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [57]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [61]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven','Reeevan'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [62]:
names_of_int = []
for names in all_data:
  enough = [name for name in names if name.count('e')>=2]
  names_of_int.extend(enough)
names_of_int

['Steven', 'Reeevan']

In [63]:
 some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [69]:
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
for tup in some_tuples:
  for x in tup:
    print(x)

1
2
3
4
5
6
7
8
9

In [73]:
flattened = []
for tup in some_tuples:
 for x in tup:
  flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
y = [flattened.append(x) for tup in some_tuples for x in tup]
y

[None, None, None, None, None, None, None, None, None]

Function: Functions are the primary and most important method of code organization and
reuse in Python.

In [77]:
def my_function(x, y, z=1.5):
 if z > 1:
  return z * (x + y)
 else:
  return z / (x + y)

In [78]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

45.0

In [80]:
a = []
def func():
 for i in range(5):
  a.append(i)

In [81]:
 def bind_a_variable():
  global a
  a = []
  bind_a_variable()

In [85]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'geoorgia', 'FlOrIda',
 'south carolina#', 'West virginia?']

In [89]:
import re
def clean_strings(strings):
 result = []
 for value in strings:
  value = value.strip()
  value = re.sub('[!#?]', '', value)
  value = value.title()
  result.append(value)
 return result

In [90]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Geoorgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [91]:
def remove_punctuation(value):
 return re.sub('[!#?]', '', value)

In [94]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [97]:
def clean_strings(strings, ops):
 result = []
 for value in strings:
  for function in ops:
   value = function(value)
  result.append(value)
 return result

In [98]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Geoorgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [99]:
for x in map(remove_punctuation, states):
   print(x)

 Alabama
Georgia
Georgia
geoorgia
FlOrIda
south carolina
West virginia

LAMDA - Python has support for so-called anonymous or lambda functions, which are a way of
writing functions consisting of a single statement, the result of which is the return
value

In [100]:
def short_function(x):
 return x * 2
equiv_anon = lambda x: x * 2

In [101]:
def apply_to_list(some_list, f):
 return [f(x) for x in some_list]

In [102]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [103]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))

Generator

In [107]:
def squares(n=10):
 print('Generating squares from 1 to {0}'.format(n ** 2))
 for i in range(1, n + 1):
  yield i ** 2

In [108]:
gen = squares()

In [109]:
gen

In [110]:
for x in gen:
  print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100