<a href="https://colab.research.google.com/github/tanucsengg/Python-For-Data-Analysis/blob/main/Python_for_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## This Colab Notebook holds the excercises done for the understanding of Data Analysis using Python

Chapter 1

In [ ]:
## Essential Python Libraries are 
# Numpy, Pandas, Matplotlib, Ipython and Jupyter, scipy, scikit learn, statsmodel

Chapter 2

In [2]:
a = 5 
print(a)

5

In [3]:
print("Hello World!!!")

Hello World!!!

In [4]:
import numpy as np
data = {i:np.random.randn() for i in range(7)} # new python dictionary is created afetr this step as data
data

{0: -1.9603879417723886,
 1: -0.2442064284237347,
 2: 1.158926994459378,
 3: -0.4867749040777165,
 4: -1.2615497527677308,
 5: -0.8335118301719943,
 6: 0.585007637653732}

In [5]:
# Broken as follows
for i in range(7):
  i = np.random.randn()
  print(i)

-1.0798677758474025
-1.2900933998966106
0.9586052133567143
1.9122730640741383
0.6473801080411431
0.7627484313971673
-0.8992381857012449

In [6]:
from numpy.random import randn
data = {i:randn() for i in range(7)}
print(data)# print this makes is less readable as compared to simply writing as data

{0: 0.8503926066143307, 1: -1.1331169792976585, 2: -0.14019401831129918, 3: 0.4869639212075515, 4: -0.0848616180925996, 5: -0.6037604385057024, 6: -0.4684530519129225}

Coomands on the list append,count,reverse,insert, clear,extend, pop, sort,copy, index,remove

In [31]:
b = [1,2,3]
b.append(2)

In [22]:
print(b)

[1, 2, 3, 2]

In [16]:
# count can count the value of occurance of any number like in this case 2 occurs twice 
b.count(2)

2

In [23]:
#
print(b.reverse())

None

In [32]:
b.insert(5,5)

In [29]:
# Clear the complete list
b.clear()

In [30]:
print(b)

[]

In [40]:
a=[2,3,4,5]

In [41]:
# extend the list a in the last of the list b
b.extend(a)

In [48]:
print(b)

[5, 4, 3, 3, 2, 2, 2, 1]

In [43]:
# takes the last element
b.pop()

5

In [47]:
# sort the list in the rfebverse order
print(b.sort(reverse= True))

None

In [50]:
# Make a copy of b to the another list c
c = b.copy()

In [51]:
print(c)

[5, 4, 3, 3, 2, 2, 2, 1]

In [52]:
# check the index position of number like in this case 4 is at position 1 in the list
b. index(4)

1

In [53]:
# remove the element 4 from the list 
b.remove(4)

In [54]:
print(b)

[5, 3, 3, 2, 2, 2, 1]

Datetime commands 
date, MAXYEAR, MINYEAR,datetime,timedelta,timezone,time,tzinfo,datetime_CAPI

In [57]:
import datetime
print(datetime.date(2021,6,7))

2021-06-07

In [60]:
datetime.MAXYEAR(2021)

TypeError: ignored

FUNCTIONS IMPLEMENTATION

In [61]:
def add_numbers(a,b):
  sum = a+b
  return sum
print("sum of two numbers:",add_numbers(2,3))

sum of two numbers: 5

In [62]:
def mulxtiply(a,b,c):
  return (a+b/c)
print("Multiply:",mulxtiply(10,5,2))

Multiply: 12.5

In [63]:
# Magic Commands 
a = np.random.randn(100,100)
%timeit np.dot(a,a)

The slowest run took 79.24 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 5: 93.9 Âµs per loop

In [65]:
#aditional information can be seen using ? command
%debug?

In [66]:
%pwd

'/content'

Other magic commands are %quickreference,%magic,%debug,%hist,%pdb,%paste,%reset,%who,%whols,%xdel variable